
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    background-color: grey;
}

p {
    font-size: 16px;
    font-weight:700;
    font-family: "Fantasy", "Courier New", monospace;
    color:darkslategrey;
}
a {
    font-size: 16px;
    font-weight: 700;
    font-family: "Fantasy", "Courier New", monospace;
    color: darkslategrey;
}

.margin {
    margin-bottom: 45px;
    font-size: 30px;
    font-weight: 600;
    font-family: "Fantasy", "Courier New", monospace;
    color:gray;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
div.image {
    background-image: url('me.jpg');
    height: 700px;
    /*width:100%;*/
    
    
    
    
    background-size:100% 100%;
    background-repeat: no-repeat;
    /*background-position: center;*/
    /*padding-bottom: 70px;*/
}
.hd1 {
    font-family: "Fantasy", "Courier New", monospace;
    font-weight:300 
}
.hd {
    font-family: "Fantasy", "Courier New", monospace;
    font-weight: 700;
    font-size:large;
}

?

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top:30px;
    background-color:black
}
.mycontainer {
    padding-top: 110px;
    padding-bottom: 110px
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}


